# w3schools - Reveiw Basic

In [ ]:
n = 18 #Correct : Weird

if (n % 2) != 0:
    print("Weird")
elif (n % 2) == 0 and n > 2 and n < 5:
    print("Not Weird")
elif (n % 2) == 0 and n > 6 and n <= 20:
    print("Weird")
else:
    print("Not Weird")

In [24]:
# global variables
global x
x = "fantastic"

print(x)

fantastic

## Python random module

In [36]:
import random as random
random.seed()
random.randrange(1,10) #returns a random number between given range
random.randint(1,10)
myoption = ["apple","banna","cherry"]
random.choice(myoption)
random.random() #random between 0 and 1
random.uniform(1,10)
random.normalvariate(1,10)

1.1119138199030736

# Python Strings

In [41]:
# strings
a = "I am a movie star"
a[1]
a[0]

'I'

In [42]:
# looping through a string
for x in "I am a movie star":
    print(x)

I

a
m

a

m
o
v
i
e

s
t
a
r

In [43]:
# string checking
txt = "I am a movie star"
print("movie" in txt)

True

In [45]:
# string checking2
txt = "I am a movie star"
if "tar" in txt:
    print("star is in txt.")
elif "tarr" not in txt:
    print("starr is wrong. it is not in txt.")

star is in txt.

In [53]:
a = " HELLO, WORLDS "
a.upper()

' HELLO, WORLDS '

In [54]:
#remove white space
a.strip()

'HELLO, WORLDS'

In [55]:
a.replace("H","J")

' JELLO, WORLDS '

In [56]:
a.split(",")

[' HELLO', ' WORLDS ']

In [59]:
age = 36
txt = "My age is {}"
print(txt.format(age))
txt.format(age)

My age is 36

'My age is 36'

In [60]:
print(2+4)
2+4

6

6

# Python Lists

In [64]:
# using list() contrcutor to make a list
thislist = list(("apple", "banana", "cherry"))
print(thislist)

TypeError: 'list' object is not callable

In [76]:
thislist = ["apple","banana","cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [77]:
thislist.append("oragne")
thislist

['apple', 'banana', 'watermelon', 'cherry', 'oragne']

In [78]:
tropical = ["mango","pineapple","papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'watermelon', 'cherry', 'oragne', 'mango', 'pineapple', 'papaya']

In [79]:
# extend() method does not have to append lists, you can add any iterable object
thistuple = ("kiwi","orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'watermelon', 'cherry', 'oragne', 'mango', 'pineapple', 'papaya', 'kiwi', 'orange']

In [80]:
thislist.remove("banana")
print(thislist)

['apple', 'watermelon', 'cherry', 'oragne', 'mango', 'pineapple', 'papaya', 'kiwi', 'orange']

In [81]:
# pop() method removes the specified index
thislist.pop(1) # just pop then result position

'watermelon'

In [82]:
print(thislist) # remove that pop word

['apple', 'cherry', 'oragne', 'mango', 'pineapple', 'papaya', 'kiwi', 'orange']

In [83]:
# if not sepicify index then Pop() will remove the last word
thislist.pop()
print(thislist)

['apple', 'cherry', 'oragne', 'mango', 'pineapple', 'papaya', 'kiwi']

In [84]:
del thislist[0]
print(thislist)

['cherry', 'oragne', 'mango', 'pineapple', 'papaya', 'kiwi']

In [85]:
# clear() method empties the list
thislist.clear()
print(thislist)

[]

In [86]:
# loop list
thislist = ["apple","banana","cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [88]:
thislist = ["apple","banana","cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [89]:
thislist=["apple","banana","cherry"]
i=0
while i < len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

In [90]:
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [93]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = []
for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
newlist = [x for x in fruits if "a" in x]

In [96]:
newlist = [x if x != "banana" else "orange" for x in fruits]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [97]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [98]:
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [101]:
# customize sort function
def myfunc(n):
    return abs(n-50)
thislist = [100, 50, 65, 82, 23]
thislist.sort(key=myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [102]:
# insensitive sort : capital letters first
# if you ignore it, str.lower() as key
Thislist = ["banana", "Orange", "Kiwi", "cherry"]
Thislist.sort(key = str.lower)
print(Thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [103]:
thislist.reverse() #just simple reverse
print(thislist)

[100, 82, 23, 65, 50]

In [108]:
# copy a list
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [134]:
# another way of copying
aList = ("apple", "banana", "cherry")
copyaList = list(aList)
print(copyaList)

TypeError: 'list' object is not callable

In [122]:
# tuples => convert list first => append
# or add tuple to tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [123]:
# tuples => convert list first => append
# or add tuple to tuple
trylist = ["apple", "banana", "cherry"]
y = ["orange",]
trylist += y
print(trylist)

['apple', 'banana', 'cherry', 'orange']

In [124]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [125]:
fruits = ["apple", "banana", "cherry"]

[green, yellow, red] = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [133]:
# set use add() not append() or extend()
# set use update() not replace()
# set use list, tuple, dictionary
# discard is better than remove in terms of non-existing one
# add one item
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)
# add multiple items
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'apple', 'cherry', 'orange', 'banana'}
{'apple', 'banana', 'cherry', 'papaya', 'pineapple', 'mango'}

In [137]:
car = {
"brand":"Ford",
"model":"Mustang",
"year":1964
}
car.keys()

dict_keys(['brand', 'model', 'year'])

In [138]:
car["color"]="white"
car.keys()

dict_keys(['brand', 'model', 'year', 'color'])

In [139]:
# return tuples in a list (리스트 안에 수정이 불가한 튜플)
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [142]:
# dictionary use update({})
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [145]:
# dictionary use update({})
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [147]:
# print all key names 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:#thisdict.keys() same result
    print(x)

brand
model
year

In [148]:
# print all values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [150]:
# print all keys
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.items():
    print(x)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [152]:
mydict = dict(thisdict)
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [153]:
myfavorite = {
    "webtoon1" : {
        "name" : "trap",
        "publisher" : "naver"
    },
    "webtoon2" : {
        "name" : "a man who can't taste",
        "publisher" : "kakaogpage"
    },
    "webtoon3" : {
        "name" : "secret lady",
        "publisher" : "kakaopage"
    }
}

# if else

In [5]:
# short hand if else
a=330
b=330
print("A") if a>b else print("=") if a==b else print("B")

=

In [8]:
# nested if
x=41
if x>10:
    print("Above ten,")
    if x>20:
        print("and also above 20")
    else:
        print("but not above 20")

Above ten,
and also above 20

In [9]:
# pass statement
a=33
b=200
if b>a:
    pass

In [10]:
# short hand if else : either keep one line or change the order
a = 200
b = 33
c = 500
if a > b and c > a: print("Both conditions are True")

Both conditions are True

## for loop and while loop

In [11]:
#+- is the addition assignment operator
#https://careerkarma.com/blog/python-operator/
i=1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [13]:
# take care of the location of print(i) (line & spacing)
i=1
while i < 6:
    print(i)
    if i==3:
        break
    i += 1

1
2
3
4
5

In [17]:
i=1
while i < 6:
    i += 1
    if i==3:
        break
    print(i)

2

In [19]:
i=1
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

2
4
5
6

In [20]:
i=1
while i < 6:
    print(i)
    i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [21]:
# break for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [22]:
# note that range(6) is not the value of 0 to 6, but the values 0 to 5
for x in range(6):
    print(x)

0
1
2
3
4
5

In [24]:
for x in range(2,6):
    print(x)

2
3
4
5

In [25]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [27]:
# for else statement
# BUT, the else block will not work if the loop is stopped by a break
for x in range(6):
    if x == 3: break
    print(x)
else:
    print("Finally finished!")

0
1
2

In [30]:
# nested loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# function

In [31]:
def my_function():
    print("Hello")
my_function()

Hello

In [32]:
# arbitrary arguments, *args : when you do not know the number of arguments
# This is for tuple arguments
def my_function(*kids):
    print("The youngest child is" + kids[2])

my_function("Email","Tobias","Linus")

The youngest child isLinus

In [33]:
# arbitrary arguments, **kwargs
# This is for dictionary arguments
def my_function(**kid):
    print("His last name is" + kid["lname"])

my_function(fname = "Tobias", lname = "Refsns")

His last name isRefsns

In [36]:
# default parameter
def my_function(country = "Norway"):
    print("I'm from " + country)
my_function("Korea")
my_function("Brazil")
my_function()

I'm from Korea
I'm from Brazil
I'm from Norway

In [37]:
fruits = ["apple", "banana", "cherry"]
def my_function(food):
    for x in food:
        print(x)
my_function(fruits)

apple
banana
cherry

### Recursion

In [41]:
# recursion means that a function calls itself : why o for tri_recursion(0) is not shown up??
def tri_recursion(k):
    if(k>0):
        result=k+tri_recursion(k-1)
        print(result)
    else:
        result=0
    return result

tri_recursion(6)

1
3
6
10
15
21

21

# lambda

In [44]:
x = lambda a : a + 10
x(5)

15

In [45]:
y = lambda a,b : a*b
y(5,6)

30

In [48]:
# lambda is for inner function => double function!!
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
mydoubler(11) # make a function that always doubles input

22

In [53]:
mytripler = myfunc(3)
mytripler(11)

33

In [51]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# Python arrays

In [ ]:
# python does not have built-in support for arrays
# how to use lists as arrays
# if you want to use arrays directly, import numpy
# array : spcial variable which can hold more than one value at a time. common in R

# Python class

In [56]:
class MyClass:
    x = 5
p1 = MyClass()
print(p1.x)

5

In [57]:
# __init__() : things always initiated with all class
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person("John",46)
print(p1.name)
print(p1.age)

John
46

In [60]:
# __str__() : string initiating function
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __str__(self):
        return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [62]:
# Object methods
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def myfunc(self):
        print("His name is " + self.name) 

p1 = Person("John", 36)
p1.myfunc()

His name is John

In [63]:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age
    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [64]:
# modify object properties
p1.age = 40

In [65]:
# delete object properties
del p1.age

In [66]:
# delete object
del p1

# Python Inheritance

In [69]:
# parent class is the class being inherited from, base class, and child class is derived class.
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:
x = Person("John", "Doe")
x.printname()

John Doe

In [ ]:
#The child's __init__() function overrides the inheritance of the parent's __init__() function.
class Student(Person):
    def __init__(self, fname, lname):
        Person.__init__(self, fname, lname)

In [79]:
# super() function will make child class inherit all parent class properties
# class 새로운 클래스 이름(부모 클래스 이름)
class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
x = Student("Mike","Olsen")
x*

In [74]:
# add property
class Student(Person):
    def __init__(self, fname, lname):
        super().__init__(fname, lname)
        self.graduationyear = 2019
x = Student("Mike","Olsen")
print(x.graduationyear)

2019

# Python Iterators

In [83]:
mytuple = ("apple","banana","cherry")
myit = iter(mytuple)
next(myit)
next(myit)
next(myit)

'banana'

In [86]:
mystr = "banana"
myit = iter(mystr)
next(myit)
next(myit)

'a'

In [88]:
# So hard to understand iteration and next class! What they are for?
class Mynumbers:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        x = self.a
        self.a += 1
        return x
myiter = iter(Mynumbers())
next(myiter)
next(myiter)

2

In [90]:
# stop iteration
class MyNumbers:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        if self.a <= 20:
            x = self.a
            self.a += 1
            return x
        else:
            raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# local and global scope

In [95]:
# function insdie funciton
def myfunc():
    x = 300
    def myinnerfunc():
        print("innerfunction result", x)
    myinnerfunc()

myfunc()

innerfunction result 300

In [98]:
# global scope
x = 300
def myfunc():
    print(x)
myfunc()
print(x)

300
300

In [101]:
# global key
def myfunc():
    global x
    x=300
print("myfunc() result:", myfunc())
print("bare x:", x)

myfunc() result: None
bare x: 300

In [104]:
# global keyword is the best

x = 300
def myfunc():
    global x
    x = 200
print(myfunc())
x

None

200

# Python Module

In [ ]:
# module is the same as a code library
# a file containing a set of functions

In [106]:
# save the code in a file name mymodule.py
def greeting(name):
    print("Hello" + name)
    
# import statement
import mymodule
mymodule.greeting("John")

ModuleNotFoundError: No module named 'mymodule'

In [ ]:
# save the code in a file name mymodule.dict.py
person1 = {
    "name": "John",
    "age" : 46,
    "country": "Norway"
}

import mymodule.dict
a = mymodule.person1["age"]

# the result should be 46

In [109]:
# built-in modules
import platform
x=platform.system()
x
y=dir(platform)
y

['_Processor',
 '_WIN32_CLIENT_RELEASES',
 '_WIN32_SERVER_RELEASES',
 '__builtins__',
 '__cached__',
 '__copyright__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_comparable_version',
 '_component_re',
 '_default_architecture',
 '_follow_symlinks',
 '_get_machine_win32',
 '_ironpython26_sys_version_parser',
 '_ironpython_sys_version_parser',
 '_java_getprop',
 '_libc_search',
 '_mac_ver_xml',
 '_node',
 '_norm_version',
 '_platform',
 '_platform_cache',
 '_pypy_sys_version_parser',
 '_sys_version',
 '_sys_version_cache',
 '_sys_version_parser',
 '_syscmd_file',
 '_syscmd_ver',
 '_uname_cache',
 '_unknown_as_blank',
 '_ver_output',
 '_ver_stages',
 'architecture',
 'collections',
 'functools',
 'itertools',
 'java_ver',
 'libc_ver',
 'mac_ver',
 'machine',
 'node',
 'os',
 'platform',
 'processor',
 'python_branch',
 'python_build',
 'python_compiler',
 'python_implementation',
 'python_revision',
 'python_version',
 'python_version_tuple',
 're',
 'release',
 'subprocess',
 'sys',
 'system',
 'system_alias',
 'uname',
 'uname_result',
 'version',
 'win32_edition',
 'win32_is_iot',
 'win32_ver']

In [ ]:
# create mymodule with one function and one dictionary
def greeting(name):
  print("Hello, " + name)

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}

In [ ]:
# just retreive dictionary from the module
from mymodule import person1
print (person1["age"])

# Python Datetime

In [116]:
import datetime as datetime

In [117]:
x = datetime.datetime.now()
x

datetime.datetime(2023, 1, 8, 17, 3, 40, 138273)

In [118]:
print(x.year)
print(x.strftime("%A"))

2023
Sunday

In [120]:
now = datetime.datetime.now() # current date and time

year = now.strftime("%Y")
print("year:", year)

month = now.strftime("%m")
print("month:", month)

day = now.strftime("%d")
print("day:", day)

time = now.strftime("%H:%M:%S")
print("time:", time)

date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

year: 2023
month: 01
day: 08
time: 17:04:04
date and time: 01/08/2023, 17:04:04

In [121]:
newx = datetime.datetime(2020,12,25)
newx

datetime.datetime(2020, 12, 25, 0, 0)

In [123]:
newx.strftime("%B")

'December'

# Built-in Math Functions

In [124]:
x = min(5,10,25)
y = max(5,10,25)
print(x,y)

5 25

In [125]:
x = abs(-13.2)
x

13.2

In [127]:
x = pow(2,3)
x

8

In [128]:
import math
math.sqrt(64)

8.0

In [131]:
math.ceil(1.4) #rounds upwards to its nearest integer (올림)
math.floor(1.4) #rounds downwards to its nearest integer (내림)

1

# Parse JSON

In [132]:
# load json : json.loads()
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

In [133]:
# convert python to json : json.dumps()
# convert many types like dict, list, tuple, string, int, float, True, None..

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [134]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

In [135]:
# indent parameter to define #of indents(specifies the spaces that are used at the beginning of a line)
json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [136]:
json.dumps(x, indent=4, separators=(". ", " = "))

'{\n    "name" = "John". \n    "age" = 30. \n    "married" = true. \n    "divorced" = false. \n    "children" = [\n        "Ann". \n        "Billy"\n    ]. \n    "pets" = null. \n    "cars" = [\n        {\n            "model" = "BMW 230". \n            "mpg" = 27.5\n        }. \n        {\n            "model" = "Ford Edge". \n            "mpg" = 24.1\n        }\n    ]\n}'

In [137]:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

# Python RegEx Module

In [140]:
# Check if the string starts with "The" and ends with "Spain":
# findall, search, split, sub..
# https://www.w3schools.com/python/python_regex.asp
import re
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

In [141]:
y = re.findall("ai", txt)
print(y)

['ai', 'ai']

In [142]:
z = re.findall("Portugal", txt)
print(z)

[]

In [143]:
import re

#Replace all white-space characters with the digit "9":

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

# Exception handling

In [146]:
try:
    print(somevalue)
except:
    print("An exception occurred")

An exception occurred

In [148]:
try:
  print(somevalue)
except NameError:
  print("Variable 'somevalue' is not defined")
except:
  print("Something else went wrong")

Variable 'somevalue' is not defined

In [149]:
try:
    print("Hello")
except:
    print("Something went wrong") # way of handling error
else:
    print("Nonthing went wrong") # when there is no error

Hello
Nonthing went wrong

In [150]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished") # regardless if the try raises an error or not

The9rain9in9Spain
The 'try except' is finished

In [152]:
# in r error or stop(, "error message")
x = -1

if x < 0:
    raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [154]:
x = "hello"

if not type(x) is int:
    raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed