# w3schools - Reveiw Basic

In [ ]:
n = 18 #Correct : Weird

if (n % 2) != 0:
    print("Weird")
elif (n % 2) == 0 and n > 2 and n < 5:
    print("Not Weird")
elif (n % 2) == 0 and n > 6 and n <= 20:
    print("Weird")
else:
    print("Not Weird")

In [24]:
# global variables
global x
x = "fantastic"

print(x)

fantastic

## Python random module

In [36]:
import random as random
random.seed()
random.randrange(1,10) #returns a random number between given range
random.randint(1,10)
myoption = ["apple","banna","cherry"]
random.choice(myoption)
random.random() #random between 0 and 1
random.uniform(1,10)
random.normalvariate(1,10)

1.1119138199030736

# Python Strings

In [41]:
# strings
a = "I am a movie star"
a[1]
a[0]

'I'

In [42]:
# looping through a string
for x in "I am a movie star":
    print(x)

I

a
m

a

m
o
v
i
e

s
t
a
r

In [43]:
# string checking
txt = "I am a movie star"
print("movie" in txt)

True

In [45]:
# string checking2
txt = "I am a movie star"
if "tar" in txt:
    print("star is in txt.")
elif "tarr" not in txt:
    print("starr is wrong. it is not in txt.")

star is in txt.

In [53]:
a = " HELLO, WORLDS "
a.upper()

' HELLO, WORLDS '

In [54]:
#remove white space
a.strip()

'HELLO, WORLDS'

In [55]:
a.replace("H","J")

' JELLO, WORLDS '

In [56]:
a.split(",")

[' HELLO', ' WORLDS ']

In [59]:
age = 36
txt = "My age is {}"
print(txt.format(age))
txt.format(age)

My age is 36

'My age is 36'

In [60]:
print(2+4)
2+4

6

6

# Python Lists

In [64]:
# using list() contrcutor to make a list
thislist = list(("apple", "banana", "cherry"))
print(thislist)

TypeError: 'list' object is not callable

In [76]:
thislist = ["apple","banana","cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [77]:
thislist.append("oragne")
thislist

['apple', 'banana', 'watermelon', 'cherry', 'oragne']

In [78]:
tropical = ["mango","pineapple","papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'watermelon', 'cherry', 'oragne', 'mango', 'pineapple', 'papaya']

In [79]:
# extend() method does not have to append lists, you can add any iterable object
thistuple = ("kiwi","orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'watermelon', 'cherry', 'oragne', 'mango', 'pineapple', 'papaya', 'kiwi', 'orange']

In [80]:
thislist.remove("banana")
print(thislist)

['apple', 'watermelon', 'cherry', 'oragne', 'mango', 'pineapple', 'papaya', 'kiwi', 'orange']

In [81]:
# pop() method removes the specified index
thislist.pop(1) # just pop then result position

'watermelon'

In [82]:
print(thislist) # remove that pop word

['apple', 'cherry', 'oragne', 'mango', 'pineapple', 'papaya', 'kiwi', 'orange']

In [83]:
# if not sepicify index then Pop() will remove the last word
thislist.pop()
print(thislist)

['apple', 'cherry', 'oragne', 'mango', 'pineapple', 'papaya', 'kiwi']

In [84]:
del thislist[0]
print(thislist)

['cherry', 'oragne', 'mango', 'pineapple', 'papaya', 'kiwi']

In [85]:
# clear() method empties the list
thislist.clear()
print(thislist)

[]

In [86]:
# loop list
thislist = ["apple","banana","cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [88]:
thislist = ["apple","banana","cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [89]:
thislist=["apple","banana","cherry"]
i=0
while i < len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

In [90]:
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [93]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = []
for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
newlist = [x for x in fruits if "a" in x]

In [96]:
newlist = [x if x != "banana" else "orange" for x in fruits]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [97]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [98]:
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [101]:
# customize sort function
def myfunc(n):
    return abs(n-50)
thislist = [100, 50, 65, 82, 23]
thislist.sort(key=myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [102]:
# insensitive sort : capital letters first
# if you ignore it, str.lower() as key
Thislist = ["banana", "Orange", "Kiwi", "cherry"]
Thislist.sort(key = str.lower)
print(Thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [103]:
thislist.reverse() #just simple reverse
print(thislist)

[100, 82, 23, 65, 50]

In [108]:
# copy a list
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [134]:
# another way of copying
aList = ("apple", "banana", "cherry")
copyaList = list(aList)
print(copyaList)

TypeError: 'list' object is not callable

In [122]:
# tuples => convert list first => append
# or add tuple to tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [123]:
# tuples => convert list first => append
# or add tuple to tuple
trylist = ["apple", "banana", "cherry"]
y = ["orange",]
trylist += y
print(trylist)

['apple', 'banana', 'cherry', 'orange']

In [124]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [125]:
fruits = ["apple", "banana", "cherry"]

[green, yellow, red] = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [133]:
# set use add() not append() or extend()
# set use update() not replace()
# set use list, tuple, dictionary
# discard is better than remove in terms of non-existing one
# add one item
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)
# add multiple items
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'apple', 'cherry', 'orange', 'banana'}
{'apple', 'banana', 'cherry', 'papaya', 'pineapple', 'mango'}

In [137]:
car = {
"brand":"Ford",
"model":"Mustang",
"year":1964
}
car.keys()

dict_keys(['brand', 'model', 'year'])

In [138]:
car["color"]="white"
car.keys()

dict_keys(['brand', 'model', 'year', 'color'])

In [139]:
# return tuples in a list (리스트 안에 수정이 불가한 튜플)
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [142]:
# dictionary use update({})
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [145]:
# dictionary use update({})
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [147]:
# print all key names 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:#thisdict.keys() same result
    print(x)

brand
model
year

In [148]:
# print all values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [150]:
# print all keys
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.items():
    print(x)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [152]:
mydict = dict(thisdict)
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [153]:
myfavorite = {
    "webtoon1" : {
        "name" : "trap",
        "publisher" : "naver"
    },
    "webtoon2" : {
        "name" : "a man who can't taste",
        "publisher" : "kakaogpage"
    },
    "webtoon3" : {
        "name" : "secret lady",
        "publisher" : "kakaopage"
    }
}